[
    {
        "host": "127.0.0.1",
        "id": "",
        "name": "Local",
        "port": "9334"
    },
    {
        "host": "test-node.incognito.org",
        "id": "",
        "name": "Full",
        "port": "9334"
    }
]