.committees {
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .cards {
    > div {
      border-radius: 0;
    }

    .title {
      width: 30%;
      font-weight: bold;
    }

    .value {
      flex: 1;
    }
  }
}