.navbar {
  a {
    color: inherit;
    text-decoration: none;
  }

  button.bp3-button.bp3-large {
    height: 50px;
    font-weight: bold;
    padding: 5px 10px;
  }

  .is-active,
  .is-active button.bp3-button:hover,
  .is-active button {
    color: #48aff0;
  }
}