.blocks {
  .node-information {
    display: flex;
    padding: 0;

    > .information-field {
      padding: 10px;

      .field-title {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .field-value {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 30px;
      }
    }
  }

  .node-actions {
    margin-left: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;

    button {
      margin: 0 0 0 15px;
    }

    .search-wrapper {
      input {
        width: 200px;
      }
    }
  }
}